@import play.api.libs.json.JsValue
@import play.api.libs.json.Json

@import play.api.libs.json.JsArray

@(petsJson: JsArray, adoptionContractJson: JsValue, web3HttpServiceUrl: String, pageType: PetListPageType.Value = PetListPageType.Generic)(implicit request: play.api.mvc.RequestHeader, messages: Messages)

@cardBody = {

    <div class="card-body">
        <div class="form-group">
            <h5 class="card-title original-name-label"></h5>
            <strong>Adopter</strong>: <span class="adopter-label"></span>
        </div>
        <div class="form-group adopt-form-group">
            <button class="btn btn-primary btn-adopt" type="button">Adopt</button>
        </div>

        <div class="change-name-form-group" style="display: none;">
            <div class="form-group">
                <input class="form-control card-name-input" type="text" pattern="[\x00-\x7F]+" maxlength="32" data-toggle="tooltip" data-placement="top" placeholder="@Messages("input.placeholder.change_name")" title="@Messages("warning.character_limit")">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-change-name" type="button">Change name</button>
            </div>
        </div>
    </div>

}

@Option(petsJson.value).filterNot(_.isEmpty).map { cards =>
    <body>
        <div>
            @alerter()
            <div id="cardsRow" class="card-columns">
                <!-- CARDS LOAD HERE -->
            </div>
        </div>

        <div id="cardTemplate" style="display: none;">
            <div class="cardPanel card">
                <img class="card-img-top" src="" alt="">
                @cardBody
            </div>
        </div>

        <script src=@routes.Assets.at("javascripts/web3.min.js")></script>
        <script src=@routes.Assets.at("javascripts/truffle-contract.min.js")></script>
        <script>
            App = {
                web3Provider: null,
                contracts: {},
                cardsData: null,

                init: function() {
                    App.cardsData = @Html(Json.stringify(petsJson));

                    var cardsRow = $('#cardsRow');
                    var cardTemplate = $('#cardTemplate');

                    for (var i = 0; i < App.cardsData.length; i++) {
                        cardTemplate.find('.original-name-label').text(App.cardsData[i].title);
                        cardTemplate.find('img').attr('src', App.cardsData[i].imageSource);
                        cardTemplate.find('alt').attr('src', App.cardsData[i].title);

                        cardTemplate.find('.btn-adopt').attr('data-id', i);
                        cardTemplate.find('.btn-change-name').attr('data-id', i);

                        cardsRow.append(cardTemplate.html());

                    }

                    return App.initWeb3();
                },

                initWeb3: function() {
                    // Is there an injected web3 instance?
                    if (typeof web3 !== 'undefined') {
                        App.web3Provider = web3.currentProvider;
                    }
                    else {
                        $('#warningAlertMetamask').show();
                        $('.requiresMetaMask').each(function(i, obj) {
                            $(this).attr('style', 'display: none;');
                        });
                        // If no injected web3 instance is detected, fall back to Ganache
                        App.web3Provider = new Web3.providers.HttpProvider('@web3HttpServiceUrl');
                    }
                    web3 = new Web3(App.web3Provider);

                    web3.eth.getAccounts(function(error, accounts) {
                        if ((error) || (typeof accounts[0] === 'undefined')) {
                            console.log(error);
                            $('#warningAlertMetamask').show();
                            $('.requiresMetaMask').each(function(i, obj) {
                                $(this).attr('style', 'display: none;');
                            });
                        }

                    });

                    return App.initContracts();
                },

                initContracts: function() {
                    App.bindEvents();

                    App.contracts.Adoption = TruffleContract(@Html(Json.stringify(adoptionContractJson)));

                    // Set the provider for our contract
                    App.contracts.Adoption.setProvider(App.web3Provider);

                    return App.refreshCards();
                },

                bindEvents: function() {
                    $(document).on('click', '.btn-adopt', App.handleAdopt);
                    $(document).on('click', '.btn-change-name', App.handleChangeName);
                },

                refreshCardWithIndex: function(cardIndex, addEvents) {
                    var cardPanel = $('.cardPanel').eq(cardIndex);
                    var adoptFormGroup = cardPanel.find('.adopt-form-group');
                    var changeNameFormGroup = cardPanel.find('.change-name-form-group');

                    var adopterLabel = cardPanel.find('.adopter-label');
                    var givenNameLabel = cardPanel.find('.original-name-label');

                    adoptFormGroup.attr('style', 'display: none;');
                    changeNameFormGroup.attr('style', 'display: none;');

                    adopterLabel.text('');
                    givenNameLabel.text('');

                    cardPanel.find('.adopter').attr('style', 'display: none;');
                    cardPanel.find('.adoptionStatus').attr('style', 'display: none;');

                    var adoption;
                    var cardData = App.cardsData[cardIndex];
                    var externalId = cardData.externalId;
                    var originalName = cardData.title;

                    App.contracts.Adoption.deployed().then(function(instance) {
                        adoption = instance;
                        adoption.NameAssigned({ "petId" : externalId }, { fromBlock: 0, toBlock: 'latest' })
                                .get(function(error, eventResult) {
                                    if (!(error)) {
                                        var latestName = eventResult[eventResult.length - 1];
                                        if (typeof latestName !== 'undefined') {
                                            var givenName = web3.toAscii(latestName.args.name).replace(/\0/g, '');
                                            givenNameLabel.text(givenName);
                                        }
                                        else {
                                            givenNameLabel.text(originalName);
                                        }
                                    }
                                    else {
                                        givenNameLabel.text(originalName);
                                    }
                                });
                        if (addEvents) {
                            adoption.NameAssigned({"petId": externalId}, 'latest')
                                .watch(function (error, eventResult) {
                                    if (error) {
                                        console.error(error);
                                    }
                                    else {
                                        var latestName = eventResult;
                                        if (typeof latestName !== 'undefined') {
                                            var givenName = web3.toAscii(latestName.args.name).replace(/\0/g, '');
                                            givenNameLabel.text(givenName);
                                        }
                                    }
                                });
                            adoption.Adopted({"petId": externalId}, 'latest')
                                .watch(function (error, eventResult) {
                                    if (error) {
                                        console.error(error);
                                    }
                                    else {
                                        App.refreshCardWithIndex(cardIndex, false);
                                    }
                                });
                        }

                        return adoption.isAdopted(externalId);
                    }).then(function(isAdopted) {
                        web3.eth.getAccounts(function(error, accounts) {
                            if (error) {
                                console.log(error);
                            }

                            var account = accounts[0];

                            if (isAdopted) {
                                adoption.adopterOf(externalId).then(function(adopter) {
                                    var isAdopter = (!(error)) && (account === adopter);
                                    if (isAdopter) {
                                        adopterLabel.text('Me');
                                        changeNameFormGroup.attr('style', 'display: block;');
                                    }
                                    else {
                                        adopterLabel.text(adopter);
                                    }
                                }).catch(function(err) {
                                    console.log(err);
                                });
                            }
                            else {
                                adopterLabel.text('None yet!');
                                if (typeof account !== 'undefined') {
                                    adoptFormGroup.attr('style', 'display: block;');
                                }
                            }
                        });
                    }).catch(function(err) {
                        console.log(err);
                        givenNameLabel.text(originalName);
                        adopterLabel.text('Unknown');
                    });
                },

                refreshCards: function() {
                    for (var i = 0; i < App.cardsData.length; i++) {
                        App.refreshCardWithIndex(i, true)
                    }
                },

                handleAdopt: function(event) {
                    event.preventDefault();

                    var cardsDataIndex = parseInt($(event.target).data('id'));
                    var adoption;
                    var cardData = App.cardsData[cardsDataIndex];
                    var externalId = cardData.externalId;

                    web3.eth.getAccounts(function(error, accounts) {
                        if (error) {
                            console.error(error);
                            return;
                        }

                        var account = accounts[0];

                        var hasAccount = (typeof account !== 'undefined');
                        if (!(hasAccount)) {
                            return;
                        }

                        App.contracts.Adoption.deployed().then(function(instance) {
                            adoption = instance;
                            return adoption.adopt(externalId, { from: account });
                        }).catch(function(err) {
                            console.error(err);
                        });
                    });
                },

                handleChangeName: function(event) {

                    var cardsDataIndex = parseInt($(event.target).data('id'));
                    var cardPanel = $('.cardPanel').eq(cardsDataIndex);
                    var cardNameInput = cardPanel.find('.card-name-input');

                    var cardName = cardNameInput.val();

                    var isValidInput = (cardNameInput[0].checkValidity()) && (/^[\x00-\x7F]*$/.test(cardName)) && (cardName.length <= 32);

                    if (!(isValidInput)) {
                        event.stopPropagation();
                        cardNameInput.tooltip('show');
                        return;
                    }

                    event.preventDefault();

                    var adoption;
                    var cardData = App.cardsData[cardsDataIndex];
                    var externalId = cardData.externalId;

                    web3.eth.getAccounts(function(error, accounts) {
                        if (error) {
                            console.error(error);
                            return;
                        }

                        var account = accounts[0];

                        var hasAccount = (typeof account !== 'undefined');
                        if (!(hasAccount)) {
                            return;
                        }

                        App.contracts.Adoption.deployed().then(function(instance) {
                            adoption = instance;
                            return adoption.assignName(externalId, cardName, { from: account });
                        }).catch(function(err) {
                            console.error(err);
                        });
                    });
                }
            };

            $(function() {
                $(window).load(function() {
                    App.init();
                });
            });
        </script>

    </body>

}.getOrElse {

    <div class="well">
        <em>
            @Html(Messages("page.empty.generic"))
        </em>
    </div>

}
